# jangan dirubah, generated otomatis

{% for net in item.networks %}
host_ip_{{ net.interface_name }}: {{ net.ip }}
{% endfor %}
host_networks:
{% for net in item.networks %}
  {{ net.interface_name }}:
    ip: {{ net.ip }}
    mac: {{ net.mac }}
{% endfor %}

host_netplan_config_default:
  network:
    version: 2
    ethernets:
{% for net in item.networks %}
      {{ net.interface_name }}:
{% if net.ip_allocation_mode == "MANUAL" %}
        addresses:
          - {{ net.ip }}/{{ net.prefix | default("24")}}
{% else %}
        dhcp4: yes
        dhcp-identifier: mac
{% endif %}
        match:
          macaddress: {{ net.mac }}
        set-name: {{ net.interface_name }}
{% endfor %}
